/* PostForm.css */

/* Form Animation */
.post-form-enter {
    opacity: 0;
  }
  
  .post-form-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .post-form-exit {
    opacity: 1;
  }
  
  .post-form-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  /* Title Animation */
  .title-enter {
    transform: translateX(-50px);
    opacity: 0;
  }
  
  .title-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 500ms, opacity 500ms;
  }
  
  /* Content Animation */
  .content-enter {
    transform: translateY(50px);
    opacity: 0;
  }
  
  .content-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 500ms, opacity 500ms;
  }
  
  /* Button Animation */
  .button-enter {
    transform: scale(0.8);
    opacity: 0;
  }
  
  .button-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
  }